* {
  margin: 0;
  padding: 0;
}

.centered {
  width: 940pt;
  margin: 0 auto;
}

.centered input {
  width: 90%;
  margin: 0 auto;
  font-size: 20pt;
  font-weight: 400;
  border-radius: 4pt;
  padding: 5pt;
  border: 2pt solid lightblue;
}

.results {
  margin: 10pt;
}

.results a {
  font-size: 16pt;
  color: orange;
  text-decoration: none;
}

.results a:hover {
  text-decoration: underline;
}

.results p {
  margin-bottom: 10pt;
}
